<body>
  <div class="heading">
    <h1><br />O nas</h1>
    <p></p>
  </div>
  <div class="container">
    <section class="about">
      <div class="about-image">
        <img
          src="https://pyxis.nymag.com/v1/imgs/53f/238/3a54a162b417b0f473d30a01cda5e05023-succession-key.rhorizontal.w700.jpg"
          alt="tu_powinni_byc_idacy_ludzie_ale_widocznie_sie_nie_zaladowalo"
        />
      </div>
      <div class="about-content">
        <h1>WWF Cinema</h1>
        <h2>
          Najwyższa jakość i satysfakcja klienta na pierwszym miejscu<br /><br />
        </h2>
        <h2>Najlepsza obsługa od zawsze</h2>
        <p>
          Jesteśmy w branży kinowej od wielu lat i jak od samego początku
          oferujemy bogaty wybór filmów, komfortowe miejsca a także obsługę
          najwyższej jakości. Jesteśmy wdzięczni każdemu kto skorzystał z
          naszych usług i obiecujemy, że nasza jakość i marka nigdy nie
          zawiedzie klientów.<br /><br />
        </p>
        <a href="" class="read-more">Czytaj więcej</a>
      </div>
    </section>
  </div>
</body>
